.DS_Store

*.bt
*.stream
*.xml
*.bin
*.pssg
*.vis
*.ens


# 3d (for now)
*.blend*
*.obj

# Ada
# Object file
*.o

# Ada Library Information
*.ali

*.bexch
*.stdout
*.stderr

# gcc assembly ouutput
*.s
